<div class="row">
	<div class="col-md-3">

		<% if !@user.avatar.nil? %>
			<%= image_tag @user.avatar, :class => "user-main-image" %>
		<% end %>
	</div>

	<div class="col-md-5">

		<h1>Hey, I'm <%=@user.first_name.upcase %></h1>
		<div>About me: <%= @user.about_me %></div><br/>


		<%= link_to 'Edit Profile', edit_user_path(@user) %><br/>	
		<%= link_to 'My Listings', listings_path %><br/>
		<%= link_to 'My Reservations', users_reservations_path %><br/>
		<%= link_to 'Go To Homepage', root_url %>


	</div>

	<div class="col-md-4"></div>

</div>





